<h1><%= @company.name %></h1>


<% if !@company.projects.empty? %>
<table>
   <tbody>
       <tr> 
           <th>Project</th>
           <th>Company</th>
       </tr>
    <%= render partial: "projects/project", collection: @company.projects %>
   </tbody>
</table>

<% end %>

<% content_for :aside do %>
  <% render 'sidebar' %>
<% end %>
