<h1><%= @company.name %></h1>

<p><%= link_to 'All Companies', companies_path %></p>

<% if !@company.projects.empty? %>
<table>
   <tbody>
       <tr> 
           <th>Project</th>
           <th>Company</th>
       </tr>
  <% @company.projects.each do |project| %>
       <tr> 
           <td><%= link_to(project, project) %></td>
           <td><%= link_to(project.company, project.company) %></td>
       </tr>
  <% end %>
   </tbody>
</table>

<% end %>
